<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Autor: Luis De Pablo</h1>
    <img src="images/autor.jpeg" width="200"/>

    <p>El autor de esta página es un joven estudiante
        de teleco.
        Se ha hecho esta pagina para crear quizzes.</p>
</body>
</html>