<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Quiz</h1>
    <p>You can make a lot of quizzes</p>
  </body>
</html>
