<!DOCTYPE html>
<html>
<head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%=console.log("A:" + quizzes);%>
    <%for(var i in quizzes){%>
    <%var quiz = quizzes[i];%>




    <h1>
    <%=quiz.question%>: <%=quiz.answer%></h1>
    <%}%>


</body>
</html>
